# logs database
DB_LOGS_CLIENT=
DB_LOGS_HOST=
DB_LOGS_PORT=
DB_LOGS_USER=
DB_LOGS_PASSWORD=
DB_LOGS_DATABASE=
DB_LOGS_POOL_MIN=
DB_LOGS_POOL_MAX=
DB_LOGS_DEBUG=

# worklow database
DB_WORKFLOW_CLIENT=
DB_WORKFLOW_HOST=
DB_WORKFLOW_PORT=
DB_WORKFLOW_USER=
DB_WORKFLOW_PASSWORD=
DB_WORKFLOW_DATABASE=
DB_WORKFLOW_POOL_MIN=
DB_WORKFLOW_POOL_MAX=
DB_WORKFLOW_DEBUG=

# user database
DB_USER_CLIENT=
DB_USER_HOST=
DB_USER_PORT=
DB_USER_USER=
DB_USER_PASSWORD=
DB_USER_DATABASE=
DB_USER_POOL_MIN=
DB_USER_POOL_MAX=
DB_USER_DEBUG=

# file storage API server
# the hash time is the time it takes for the password of encrypted files to be hashed
FILE_STORAGE_HASH_TIME=
# extra salts to add to the password of encrypted files
FILE_STORAGE_EXTRA_SALT_LEFT=
FILE_STORAGE_EXTRA_SALT_RIGHT=
FILE_STORAGE_DIR=
# private key to sign URLs
FILE_STORAGE_SIGNATURE_KEY=

# logger
LOGGER_LOG_FILE_FORMAT=

PUBLIC_LOG_SERVER=
